<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Empire Earth LAN Launcher" Language="1033" Version="1.0.0.0" Manufacturer="EE-LAN-Launcher" UpgradeCode="PUT-GUID-HERE">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine"/>

    <MediaTemplate/>

    <Feature Id="DefaultFeature" Level="1">
      <ComponentGroupRef Id="LAUNCHER_CONTENT"/>
    </Feature>

    <Property Id="ARPCONTACT" Value="EE-LAN-Launcher"/>
    <UIRef Id="WixUI_Minimal"/>
  </Product>
</Wix>